<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @source.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @source.color %>
</p>

<p>
  <strong>Status:</strong>
  <%= @source.status %>
</p>

<%= link_to t('general.labels.edit'), edit_source_path(@source) %> |
<%= link_to t('general.labels.back'), sources_path %>
