<p id="notice"><%= notice %></p>

<h1>Listing Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Income Date</th>
      <th>Category</th>
      <th>Source</th>
      <th>Period</th>
      <th>Status</th>
      <th>Currency value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.description %></td>
        <td><%= income.income_date %></td>
        <td><%= income.category_name %></td>
        <td><%= income.source_name %></td>
        <td><%= income.period_name %></td>
        <td><%= income.status %></td>
        <td><%= income.formated_currency_value %></td>
        <td><%= link_to 'Show', period_income_path(@period, income) %></td>
        <td><%= link_to 'Edit', edit_period_income_path(@period, income) %></td>
        <td><%= link_to 'Destroy', period_income_path(@period, income), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income', new_period_income_path %>
