<p id="notice"><%= notice %></p>

<p>
  <strong>Income Date:</strong>
  <%= @income.income_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @income.description %>
</p>

<p>
  <strong>Currency value:</strong>
  <%= @income.currency_value %>
</p>

<p>
  <strong>Likely Date:</strong>
  <%= @income.likely_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @income.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @income.source_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @income.category_name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @income.period_name %>
</p>

<%= link_to t('general.labels.edit'), edit_period_income_path(@period, @income) %> |
<%= link_to t('general.labels.back'), period_incomes_path %>
