<%= form_for(@category) do |f| %>
  <div class="ls-label col-lg-4 col-sm-8 <%= class_error @category, :name %>">
    <label class="ls-no-margin-right">
      <b class="ls-label-text"> <%= t('categories.labels.name') %> </b>
      <div class="ls-label ls-no-padding-left <%= class_error @category, :name %>">
        <%= f.text_field :name %>
        <%= show_message_error @category, :name %>
      </div>
    </label>
  </div>

  <div class="ls-label col-lg-4 col-sm-8 <%= class_error @category, :description %>">
    <label class="ls-no-margin-right">
      <b class="ls-label-text"> <%= t('categories.labels.description') %> </b>
      <div class="ls-label ls-no-padding-left <%= class_error @category, :description %>">
        <%= f.text_field :description %>
        <%= show_message_error @category, :description %>
      </div>
    </label>
  </div>

  <div class="ls-label col-lg-4 col-sm-8 <%= class_error @category, :color %>">
    <label class="ls-no-margin-right">
      <b class="ls-label-text"> <%= t('categories.labels.color') %> </b>
      <div class="ls-label ls-no-padding-left <%= class_error @category, :color %>">
        <div class="ls-custom-select">
          <%= f.select(:color, Category.colors, {prompt: true}) %>
        </div>
        <%= show_message_error @category, :color %>
      </div>
    </label>
  </div>

  <div class="actions">
    <%= f.submit t('categories.actions.save'), class: 'ls-btn-primary' %>
    <%= link_to 'Show', @category, class: 'ls-btn' unless @category.id.nil? %>
    <%= link_to t('general.labels.back'), categories_path, class: 'ls-btn' %>
  </div>
<% end %>
