<h1 class="ls-title-intro ls-ico-users"><%= t('categories.head.title') %></h1>

<%= link_to t('categories.actions.new'), new_category_path, class: 'ls-btn-primary' %>

<table class="ls-table ls-table-striped ls-bg-header">
  <thead>
    <tr>
      <th><%= t('categories.labels.name') %></th>
      <th><%= t('categories.labels.color') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.color %></td>
        <td>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn"><%= t('general.labels.actions') %></a>
            <ul class="ls-dropdown-nav">
              <li><%= link_to t('general.labels.show'), category %></li>
              <li><%= link_to t('general.labels.edit'), edit_category_path(category) %></li>
              <li><%= link_to t('general.labels.delete.title'), category, method: :delete, data: { confirm: t('general.labels.delete.message') }, class: "ls-color-danger ls-divider" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
