<h1 class="ls-title-intro ls-ico-users"><%= t('categories.head.show') %></h1>

<p>
<strong><%= t('categories.labels.name') %>:</strong>
  <%= @category.name %>
</p>

<p>
  <strong><%= t('categories.labels.description') %>:</strong>
  <%= @category.description %>
</p>

<p>
  <strong><%= t('categories.labels.color') %>:</strong>
  <%= @category.color %>
</p>

<div class="actions">
  <%= link_to t('general.labels.edit'), edit_category_path(@category), class: 'ls-btn' %>
  <%= link_to t('general.labels.back'), categories_path, class: 'ls-btn' %>
</div>
