<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Categorizable:</strong>
  <%= @category.categorizable_id %>
</p>

<p>
  <strong>Categorizable type:</strong>
  <%= @category.categorizable_type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
