<p id="notice"><%= notice %></p>

<p>
<strong>Expense Date:</strong>
  <%= @expense.expense_date %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @expense.establishment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Currency value:</strong>
  <%= @expense.currency_value %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @expense.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expense.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @expense.source_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category_name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @expense.period_name %>
</p>

<%= link_to t('general.labels.edit'), edit_expense_path(@expense) %> |
<%= link_to t('general.labels.back'), expenses_path %>
