<!DOCTYPE html>
<html lang="pt-br" class="ls-theme-green">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Bolão 2015</title>
    <%= stylesheet_link_tag "//assets.locaweb.com.br/locastyle/3.7.2/stylesheets/locastyle.css" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<div class="ls-login-parent">
  <div class="ls-login-inner">
    <div class="ls-login-container">
      <div class="ls-login-box">
  <h1 class="ls-login-logo"><%= image_tag("bola-na-rede-2.jpg", alt: "Meu Bolão") %></h1>
  <%= yield %>

  <%= javascript_include_tag "//code.jquery.com/jquery-2.1.3.min.js" %>
  <%= javascript_include_tag "//assets.locaweb.com.br/locastyle/3.7.2/javascripts/locastyle.js" %>

  <%= javascript_include_tag "application" %>
  <script type='text/javascript'>
    <%= yield :javascript %>
  </script>

</body>
</html>
